/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('/fonts/roboto/robotothin.woff2') format('woff2'), url('/fonts/roboto/robotothin.woff') format('woff'), url('/fonts/roboto/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/fonts/roboto/robotothinitalic.woff2') format('woff2'), url('/fonts/roboto/robotothinitalic.woff') format('woff'), url('/fonts/roboto/robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto Light'), local('Roboto-Light'), url('/fonts/roboto/robotolight.woff2') format('woff2'), url('/fonts/roboto/robotolight.woff') format('woff'), url('/fonts/roboto/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('/fonts/roboto/robotolightitalic.woff2') format('woff2'), url('/fonts/roboto/robotolightitalic.woff') format('woff'), url('/fonts/roboto/robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), local('Roboto-Regular'), url('/fonts/roboto/roboto.woff2') format('woff2'), url('/fonts/roboto/roboto.woff') format('woff'), url('/fonts/roboto/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Italic';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('/fonts/roboto/robotoitalic.woff2') format('woff2'), url('/fonts/roboto/robotoitalic.woff') format('woff'), url('/fonts/roboto/robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/roboto/robotomedium.woff2') format('woff2'), url('/fonts/roboto/robotomedium.woff') format('woff'), url('/fonts/roboto/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/fonts/roboto/robotomediumitalic.woff2') format('woff2'), url('/fonts/roboto/robotomediumitalic.woff') format('woff'), url('/fonts/roboto/robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/roboto/robotobold.woff2') format('woff2'), url('robotobold.woff') format('woff'), url('/fonts/roboto/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/fonts/roboto/robotobolditalic.woff2') format('woff2'), url('/fonts/roboto/robotobolditalic.woff') format('woff'), url('/fonts/roboto/robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto-Black';
    src: local('Roboto Black'), local('Roboto-Black'), url('/fonts/roboto/robotoblack.woff2') format('woff2'), url('/fonts/roboto/robotoblack.woff') format('woff'), url('/fonts/roboto/robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/fonts/roboto/robotoblackitalic.woff2') format('woff2'), url('/fonts/roboto/robotoblackitalic.woff') format('woff'), url('/fonts/roboto/robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
a{
	color: #f46e28
}
a:hover, .link-hover:hover{
	color:red;
}

body {
	font: 14px Roboto, sans-serif;
	width: 100%;
	height: 100%;
	color:#000;
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.rub{
	display: inline-block; 
	font-size: 24px; 
	line-height: 7px;  
	border-bottom: 1px solid #000000;
	width:0.4em;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    border-top: 2px solid #f46e28;
		min-height: 165px;
}
.top-section::after {
    clear: both;
    content: "";
    display: block;
}
.logo-block {
    width: 58.5%;
		float:left;
}
.logo-block > a {
    display: inline-block;
    margin-top: 6px;
}

.top-right-section {
    float: left;
    width: 41.5%;
}
.top-right-section{
    margin-top: 12px;
}
.top-components-wrapper {
    float: left;
    width: 62%;
}
.cart-components-wrapper::after {
    clear: both;
    content: "";
    display: block;
}
/*start component liked cart item*/
.cart-liked-wrapper {
    float: left;
		position:relative;
}
.cart-liked-wrapper::before {
		top: 3px;
    background-image: url("/images/liked-ico.png");
    content: "";
    display: block;
    height: 25px;
    position: absolute;
    width: 19px;
}
.cart-liked-wrapper li {
    font-family: Roboto-Regular;
    font-size: 1.1em;
    margin-left: 29px;
}
.cart-liked-wrapper li:last-child {
    color: #818181;
		font-size:1.1em;
		font-family:Roboto-Light;
}
/*end component liked cart item*/

/*start component liked cart item*/
.cart-main-wrapper {
    float: right;
    position: relative;
    width: 42%;
}
.cart-main-wrapper::before {
		background-image: url("/images/cart-ico.png");
    content: "";
    display: block;
    height: 28px;
    left: -12px;
    position: absolute;
    top: 1px;
    width: 35px;
}
.cart-main-wrapper li {
    font-family: Roboto-Regular;
    font-size: 1.1em;
    margin-left: 29px;
}
.cart-main-wrapper li:last-child {
    color: #818181;
		font-size:1.1em;
		font-family:Roboto-Light;
}
/*end component main cart item*/

/*start component search*/
.search-wrapper {
    margin-top: 13px;
		position:relative;
}
.search-input {
		border: 1px solid #b8b8b8;
    font-size: 1.3em;
    height: 36px;
    padding-left: 9px;
    width: 244px;
}
.search-btn {
		cursor:pointer;
		border: medium none;
    height: 22px;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 22px;
		background: rgba(0, 0, 0, 0) url("/images/search-ico.png") repeat scroll 0 0;
}
/*end component search*/
.top-section {
    margin-bottom: 8px;
}
.top-right-component-wrapper {
    float: right;
}
.top-phones li {
		font-family: Roboto-Regular;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}
/*start component callback*/
.call-btn {
		cursor:pointer;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:1px dashed;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f46e28;
    display: inline;
    float: right;
    font-family: Roboto-Light;
    font-size: 1.1em;
    margin: 5px 0 0;
    padding: 0;
}
/*end component callback*/

/*start component top menu*/
.nav-wrraper {
		background: #f7f7f7 none repeat scroll 0 0;
    border-top: 2px solid #b8b8b8;
    height: 48px;
}
.top-menu .child-menu-item{
		background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    display: none;
    left: -1px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}
.child-menu-item li {
		padding-left: 15px;
    font-size: 0.9em;
    margin-top: 7px;
    padding-bottom: 5px;
}
.top-menu .root-menu-item:hover .child-menu-item{
	display:block;
	z-index:20;
}
.top-menu {
    display: table-row;
}
.top-menu .root-menu-item {
		position:relative;
		border-left: 1px solid #e1e1e1;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
		padding-left: 12px;
    padding-right: 12px;
		padding-left: 11px\9;/* ONLY IE */
    padding-right: 11px\9;/* ONLY IE */
}
@-moz-document url-prefix(){
	.top-menu .root-menu-item {
			padding-left: 13.4px;
			padding-right: 13.4px;
		}
}
.top-menu .root-menu-item:last-child{
	border-right:1px solid #e1e1e1;
}

.top-menu a {
		color: #000;
    display: block;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
}
/*end component top menu*/

/*start component main slider*/
.main-slider{
	position: relative;
}
.swiper-container{
	height: 449px;
}
.main-slider .slide-head {
    color: #fff;
    font-size: 2.8em;
    margin-top: 33px;
    position: absolute;
}
.main-slider .slide-head h2 {
   font-weight:normal;
	 font-family: Roboto-Light
}
.slide-head strong {
    font-weight: bold;
		font-family:Roboto-Regular;
}
.slide-content {
    position: relative;
}
.swiper-button-prev:hover{
	background: rgba(0, 0, 0, 0) url("/images/slider-arrow-right.png") no-repeat scroll 0 100%;
}
.swiper-button-next:hover{
	background: rgba(0, 0, 0, 0) url("/images/slider-arrow-left.png") no-repeat scroll 0 100%;
}
.swiper-button-next {
    background: rgba(0, 0, 0, 0) url("/images/slider-arrow-left.png") no-repeat scroll 0 0;
    height: 32px;
    position: absolute;
    top: -240px;
    width: 17px;
    z-index: 1;
		cursor:pointer;
}
.swiper-button-prev {
    background: rgba(0, 0, 0, 0) url("/images/slider-arrow-right.png") no-repeat scroll 0 0;
    height: 32px;
    position: absolute;
    top: -240px;
    width: 17px;
    z-index: 1;
		right:0px;
		cursor:pointer;
}
.swiper-pagination-switch {
    border: 1px solid #bdbdbd;
    border-radius: 100%;
    display: block;
    float: left;
    height: 12px;
    margin-right: 6px;
    width: 12px;
		cursor:pointer;
}
.swiper-pagination {
    bottom: 27px;
    position: absolute;
    z-index: 1;
}
.swiper-visible-switch {
	border: 1px solid #bdbdbd;
}
.swiper-active-switch {
	border: 1px solid #b1592a;
}
.slider-tools{
	position:relative;
}
/*end component main slider*/
/* Middle
-----------------------------------------------------------------------------*/
.link-list > ul li {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    width: 31%;
		height: 40px;
    vertical-align: middle;
		margin-right: 27px;
}
.link-list > ul li:last-child{
	margin-right:0px;
}
.link-list > ul li:hover{
	border: 1px solid #f46e28;
}
.link-list a {
		color: #000;
    display: table;
    height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
		font-size:1.1em;
		font-family:Roboto-Light;
}
.link-list a:hover{
	color:#f46e28;
}
.link-list span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.link-list {
    margin-top: 40px;
}
.component-header {
    font-size: 2.2em;
}
/*start component catalog product list (index page)*/
.cat-product-list-wrapper {
    margin-top: 35px;
}
.cat-product-name {
		position:relative;
    font-size: 1.2em;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
		color:#000;
		font-family: Roboto-Medium;
		background:#eaeaea;
}
.cat-product-name:before{
	position:absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #eaeaea  transparent transparent transparent;
	bottom:-10px;
	left: 96px;
	content:"";
}
.cat-product-list-wrapper .component-header {
    margin-bottom: 20px;
}
.cat-product-cell {
		position:relative;
		border: 1px solid #b8b8b8;
    display: block;
    float: left;
    height: 128px;
    width: 198px;
		margin-left: -1px;
    margin-bottom: -1px;
		text-align:center;
}
.cat-product-cell:hover{
	border:1px solid #f46e28;
	z-index:1;
}
.cat-product-cell:hover .cat-product-name{
	background-color:#fcd3be;
}
.cat-product-cell:hover .cat-product-name:before{
	border-color: #fcd3be  transparent transparent transparent;

}
.cat-product-list::after {
    clear: both;
    content: "";
    display: block;
}
.cat-product-cell:first-child {
    padding-top: 72px;
}
.cat-product-cell:first-child .cat-product-name {
		padding-top:15px;
		padding-bottom:15px;
    top: 0;
    position: absolute;
}
.cat-product-cell:nth-child(2n) {
    padding-bottom: 72px;
}
.cat-product-cell:nth-child(2n) .cat-product-name {
    bottom: 0;
    position: absolute;
		padding-top:15px;
		padding-bottom:15px;
}
.cat-product-cell:nth-child(2n) .cat-product-name:before {
    top: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #eaeaea  transparent;
}
.cat-product-cell:nth-child(2n):hover .cat-product-name:before{
	border-color: transparent transparent #fcd3be   transparent;

}

.cat-product-cell:nth-child(2n) .cat-product-pic {
    margin-top: 23px;
}
.cat-product-cell:nth-child(2n+1) {
    padding-top: 72px;
}
.cat-product-cell:nth-child(2n+1) .cat-product-name {
		padding-top:15px;
		padding-bottom:15px;
    top: 0;
    position: absolute;
}

/*end component catalog product list (index page)*/
.official-rep {
		background-image: url("/images/offecial-baner.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid;
    color: #000;
    display: block;
    font-family: Roboto-Light;
    font-size: 1.3em;
    height: 79px;
    margin-top: 43px;
    text-decoration: none;
    text-transform: uppercase;
		margin-bottom: 43px;
}
.official-rep > span {
    display: table-cell;
    height: 79px;
    padding-left: 18px;
    vertical-align: middle;
}
.best-product-wrapper .component-header {
    padding-bottom: 22px;
    padding-top: 32px;
}
.content {
	padding: 0 0 100px;
}
/*start component best product(index-page)*/
.best-product-wrapper{
	background-color:#fafafa;
}
.best-product-cell{
		background-color:#fff;
		border: 1px solid #b8b8b8;
    display: block;
    float: left;
    height: 351px;
    margin-bottom: -1px;
    margin-left: -1px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
    width: 209px;
}
.best-product-pic{
	height: 138px;
	display:block;
	text-align:center;
	margin-top: 28px;
}
.best-product-list::after {
    clear: both;
    content: "";
    display: block;
}
.best-product-bottom-item {
    bottom: 18px;
    position: absolute;
}
.best-product-name {
		color: #000;
    display: block;
    font-size: 1.1em;
    height: 44px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}
.product-path {
    color: #b8b8b8;
    font-size: 0.9em;
    text-align: left;
}
.best-product-price li{
	display:inline-block;
}
.best-product-cur-price {
    font-family: Roboto-Bold;
    font-size: 1.7em;
}
.best-product-old-price {
		position:relative;
    color: #f46e28;
    font-size: 1.3em;
    margin-left: 24px;
}
.best-product-old-price:after{
		background-color: #f46e28;
    content: "";
    display: block;
    height: 1px;
    left: -6px;
    position: absolute;
    top: 10px;
    width: 120%;
}
.best-product-tocart {
    text-align: left;
}
/*end component best product(index-page)*/
.tocart-btn {
		background-color: #f46e28;
    margin-top: 6px;
    width: 151px;
		border-radius:3px;
		border-right:1px solid #bb4e16;
		border-bottom:1px solid #bb4e16;
		border-left:0px;
		border-top:0px;
		cursor:pointer;
		color: #fff;
    font-size: 1.2em;
    height: 44px;
    margin-top: 6px;
    text-transform: uppercase;
}
.best-product-cur-price .rub {
    border-bottom: 2px solid;
		margin-left:2px;
}
.best-product-old-price .rub {
    border-bottom: 1px solid #f46e28;
		font-size:19px;
		margin-left:2px;
}
.best-product-ico {
    background: rgba(0, 0, 0, 0) url("/images/liked-product-ico.png") no-repeat  scroll 0 0;
    display: inline-block;
    height: 25px;
    margin-left: 11px;
    position: relative;
    top: 5px;
    width: 19px;
}
.best-product-ico:hover {
    background: rgba(0, 0, 0, 0) url("/images/liked-product-ico.png") no-repeat scroll 0 100%;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}